* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
li {
    list-style: none
}
button {
    cursor: pointer;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background: #F2F3F4;
    background-image: url(./images/background.jpg);
}
